.Main {
    width: 20vw;
    height: calc(100vh - 20vh);
    background-color: #30CEB6;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20vh;
    color: #FFF;
    text-align: center;
    &__Link {
        width: calc(100% - 60px);
        text-align: initial;
        margin: 0 auto;
        font-size: 20px;
        text-decoration: none;
        line-height: 40px;
        a {
            &:active {
                color: #FFF;
                text-decoration: none;
            }
            &:visited {
                color: #FFF;
                text-decoration: none;
            }
            &:link {
                color: #FFF;
                text-decoration: none;
            }
        }
    }
}